name: Check

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  check:
    runs-on: ubuntu-22.04

    permissions:
      contents: read # for checkout
      actions: read # for actions-timeline

    steps:
      - name: actions-timeline
        # skip if the workflow is called from another workflow
        if: contains(github.workflow_ref, '/check.yml')
        # cspell:ignore kesin
        uses: Kesin11/actions-timeline@1c2ab3f28225878ae4dd1f76d31279f16ea29e29 # v2.1.1

      - name: Checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          fetch-depth: 0 # fetch all history for commitlint

      - name: Setup bun
        uses: oven-sh/setup-bun@8f24390df009a496891208e5e36b8a1de1f45135 # v1.2.1

      - name: Setup Node.js
        # Install to use the latest version of Node.js when shebang is specified
        # ref: https://bun.sh/docs/cli/run#bun
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version-file: package.json

      - name: Install Dependencies
        id: install
        run: bun install --frozen-lockfile
        env:
          HUSKY: 0

      - name: Get Included Files of tsconfig.src.json
        id: get-tsconfig-files
        run: |
          files=$(bun run tsc --project tsconfig.src.json --showConfig | jq --compact-output .files)
          echo "files=$files" >> "$GITHUB_OUTPUT"

      - name: Check Changed Files
        id: changed-files
        # check if lint-staged should be run
        if: >-
          (github.event_name == 'push' && github.event.before != '0000000000000000000000000000000000000000') ||
          github.event_name == 'pull_request'
        uses: tj-actions/changed-files@a29e8b565651ce417abb5db7164b4a2ad8b6155c # v44.4.0
        with:
          files: ${{ steps.get-tsconfig-files.outputs.files }}

      - name: Restore Build Cache
        id: restore-build-cache
        # outputs will be empty strings if the step is skipped
        if: steps.changed-files.outputs.any_changed != 'false'
        uses: actions/cache/restore@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        with:
          path: .next/cache
          key: nextjs-${{ runner.os }}-${{ hashFiles('**/bun.lockb') }}-${{ hashFiles(fromJson(steps.get-tsconfig-files.outputs.files)) }}
          # restore the prior cache if lockfile is not changed
          restore-keys: nextjs-${{ runner.os }}-${{ hashFiles('**/bun.lockb') }}-

      - name: "commitlint (push: initial commit)"
        id: commitlint-push-initial
        # commit hash will be 000... if it doesn't exist
        if: github.event_name == 'push' && github.event.before == '0000000000000000000000000000000000000000'
        run: bun run commitlint --verbose --to ${{ github.event.after }}

      - name: commitlint (push)
        id: commitlint-push
        if: github.event_name == 'push' && steps.commitlint-push-initial.outcome == 'skipped'
        run: bun run commitlint --verbose --from ${{ github.event.before }} --to ${{ github.event.after }}

      - name: commitlint (pull_request)
        id: commitlint-pr
        if: github.event_name == 'pull_request'
        run: |
          bun run commitlint --verbose --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }}

      - name: commitlint (last commit)
        if: >-
          ${{
            steps.commitlint-push-initial.outcome == 'skipped' &&
            steps.commitlint-push.outcome == 'skipped' && steps.commitlint-pr.outcome == 'skipped'
          }}
        run: bun run commitlint --verbose --from ${{ github.sha }}~1 --to ${{ github.sha }}

      - name: Check (push)
        id: check-push
        # continue even if the previous step fails
        # do not use continue-on-error because it will result in a successful job
        # commit hash will be 000... if it doesn't exist
        if: >-
          ${{
            !cancelled() && steps.install.outcome == 'success' &&
            github.event_name == 'push' && github.event.before != '0000000000000000000000000000000000000000'
          }}
        run: bun run lint-staged --diff=origin/${{ github.ref_name }}^...origin/${{ github.ref_name }}

      - name: Check (pull_request)
        id: check-pr
        if: ${{ !cancelled() && steps.install.outcome == 'success' && github.event_name == 'pull_request' }}
        env:
          # use an intermediate variable to avoid injection attacks
          # ref: https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#good-practices-for-mitigating-script-injection-attacks
          HEAD_REF: ${{ github.head_ref }}
        run: bun run lint-staged --diff=origin/${{ github.base_ref }}...origin/"$HEAD_REF"

      - name: ignore-sync
        id: ignore-sync
        if: >-
          ${{
            !cancelled() && steps.install.outcome == 'success' &&
            steps.check-push.outcome == 'skipped' && steps.check-pr.outcome == 'skipped'
          }}
        # run ignore-sync to check if the ignore files are up to date
        run: bun run ignore-sync

      - name: Biome
        if: ${{ !cancelled() && steps.ignore-sync.outcome == 'success' && steps.ignore-sync.outcome == 'failure' }}
        run: bun run biome ci --error-on-warnings .

      - name: Build
        id: build
        if: ${{ !cancelled() && steps.ignore-sync.outcome == 'success' && steps.ignore-sync.outcome == 'failure' }}
        # generate type definitions (e.g. next-env.d.ts)
        run: bun run next build

      - name: Save Build Cache
        # outputs will be empty strings if the step is skipped
        # cache is not saved if tasks except for build fail in check-push or check-pr, but there is no way to check it
        if: >-
          ${{
            !cancelled() && steps.restore-build-cache.outputs.cache-hit == 'false' &&
            (steps.check-push.outcome == 'success' || steps.check-pr.outcome == 'success' || steps.build.outcome == 'success')
          }}
        uses: actions/cache/save@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        with:
          path: .next/cache
          key: ${{ steps.restore-build-cache.outputs.cache-primary-key }}

      - name: tsc (source)
        if: ${{ !cancelled() && steps.build.outcome == 'success' }}
        run: bun run tsc --project tsconfig.src.json --incremental false

      - name: tsc (other)
        if: ${{ !cancelled() && steps.ignore-sync.outcome == 'success' && steps.ignore-sync.outcome == 'failure' }}
        run: bun run tsc --project tsconfig.base.json --incremental false

      - name: cspell
        if: ${{ !cancelled() && steps.ignore-sync.outcome == 'success' && steps.ignore-sync.outcome == 'failure' }}
        run: bun run cspell "**/*"

      - name: knip
        if: ${{ !cancelled() && steps.ignore-sync.outcome == 'success' && steps.ignore-sync.outcome == 'failure' }}
        run: bun run knip

      - name: Check No Files are Changes
        if: ${{ !cancelled() && steps.install.outcome == 'success' }}
        run: |
          git add .
          git diff --staged --exit-code
