name: Lint GitHub Actions workflows

on:
  push:
    branches: main
    paths:
      - .github/workflows/**
  pull_request:
    paths:
      - .github/workflows/**
  workflow_dispatch:

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  lint:
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    permissions:
      contents: read # for checkout
      actions: read # for actions-timeline

    steps:
      - name: actions-timeline
        # cspell:ignore kesin
        uses: Kesin11/actions-timeline@3046833d9aacfd7745c5264b7f3af851c3e2a619 # v2.2.1

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          sparse-checkout: |
            .github/workflows/*
          sparse-checkout-cone-mode: false

      - name: Install actionlint
        # cspell:ignore jaxxstorm
        uses: jaxxstorm/action-install-gh-release@cd6b2b78ad38bdd294341cda064ec0692b06215b # v1.14.0
        with:
          # cspell:ignore rhysd
          repo: rhysd/actionlint
          cache: enable

      - name: Install pinact
        uses: jaxxstorm/action-install-gh-release@cd6b2b78ad38bdd294341cda064ec0692b06215b # v1.14.0
        with:
          # cspell:ignore pinact
          repo: suzuki-shunsuke/pinact
          cache: enable

      - name: Install ghalint
        id: install-ghalint
        uses: jaxxstorm/action-install-gh-release@cd6b2b78ad38bdd294341cda064ec0692b06215b # v1.14.0
        with:
          # cspell:ignore shunsuke ghalint
          repo: suzuki-shunsuke/ghalint
          cache: enable

      - name: Run actionlint
        run: actionlint -color

      - name: Run ghalint
        # continue on error even if the previous step fails
        # do not use continue-on-error because it will result in a successful job
        if: ${{ !cancelled() && steps.install-ghalint.outcome == 'success' }}
        run: ghalint run
        env:
          GHALINT_LOG_COLOR: always

      - name: Run pinact
        if: ${{ !cancelled() && steps.install-ghalint.outcome == 'success' }}
        uses: suzuki-shunsuke/pinact-action@a60b07ee63e41654915780a3297ff9f5f6b6db63 # v0.1.0
        with:
          skip_push: true # cannot push to the repository in the workflow unless using a PAT
